@use "./abstracts/" as *;

.notfound {
  @include flex(center, center);
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #444;
    line-height: 1.4;
    text-align: center;
  }

  .button-back {
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background: #f3b632;
    width: 100%;
    display: block;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    transition: all 0.5s ease;
    margin-top: 0.5rem;

    &:hover {
      background-color: #2c2c2c;
    }
  }
}
