.reviews {
  .review-container {
    width: 100%;
    max-width: 400px;

    border: 1px solid rgb(163, 162, 162);
    padding: 30px;
    border-radius: 8px;
    margin: 2rem auto;
    text-align: center;

    h2 {
      font-size: 1.5rem;
    }

    input {
      margin: 1rem 0;
    }

    button {
      display: block;
      margin-top: 1rem;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 500;
      width: 100%;

      background-color: #2c2c2c;
      color: #fff;
      padding: 0;
      height: 50px;
      line-height: 50px;
      transition: 0.4s;

      &:hover {
        background-color: #f3b632;
        color: #fff;
      }
    }
  }
}
