$bodyBg: #f3f4fa;
$mainBg: #fff;
$mainColor: #8624db;
$txtColor: #4e4d4f;
$purple: #8624db;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #db190c;

$fontFamily: "Roboto", sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 280px;
$sideBarLogoHeight: 171px;
$spacing: 24px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1340px;
